{% extends 'base.html' %}

{% block title %}
    <title>Registration page</title>
{% endblock %}

{% block body_block %}
{% if reg %}
    <div class='container'>
        <div class='jumbotron'>
                <h1>Registration was successfull</h1>
        </div>
    </div>
{% else %}
    <div class='container'>
        <div class='jumbotron'>
            <center>
                <h1>Registration form</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{userform.as_p}}
                    {{profileform.as_p}}
                    <input type="submit" value="Register">
                </form>




            </center>

        </div>
    </div>
{% endif %}

{% endblock %}